@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Spirax&display=swap");

:root {
  /* colors */
  --background: #000c1f;
  --red-luffy: #ca0202f6;
  --golden: #f09708;

  /* Fonts */
  --font-bold: 700;

  --font-petite: 17px;
  --font-medium: 32px;
  --font-title: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--background);
  /* background-color: rgb(107, 72, 7); */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(231, 209, 4); */
}

/*  ================== HEADER ==================*/
#menu-toggle,
.menu-label {
  display: none;
}

.logo {
  height: 50px;
  /* border: 2px solid blue; */
  margin-top: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(180, 255, 7); */
  padding: 0 10px;
  background-color: var(--red-luffy);
  height: 65px;
  font-family: "Spirax", sans-serif;
  position: fixed;
  width: 100%;
}

.nav {
  display: flex;
  gap: 4rem;
  /* border: 2px solid rgb(0, 0, 0); */
  align-items: center;
  margin-right: 20px;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: var(--font-petite);
}

li > a:hover::before {
  content: "☠️";
}

/*  ================== HERO ==================*/

#hero {
  /* border: 1px solid rgb(5, 206, 241); */
  margin-top: 60px;
  padding: 70px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pangolin", cursive;
}

.hero-info {
  /* border: 2px solid violet; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}

.hero-info h1 {
  font-size: var(--font-title);
  font-weight: var(--font-bold);
  color: var(--golden);
}
.hero-info p {
  font-size: var(--font-petite);
  width: 70%;
  color: white;
}
.hero-info span {
  color: rgb(218, 7, 7);
  font-weight: var(--font-bold);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.btn {
  /* border: 1px solid red; */
  font-size: var(--font-petite);
  color: #f3f4f6;
  background-color: var(--red-luffy);
  padding: 8px 30px;
  border-radius: 10px;
}

.hero-img {
  /* border: 1px solid rgb(196, 228, 13); */
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}

/*  ================== ABOUT ==================*/
#about {
  /* border: 1px solid rgb(5, 206, 241); */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  font-family: "Pangolin", cursive;
}
#about h2 {
  color: var(--golden);
  font-size: var(--font-medium);
  padding-bottom: 25px;
}
.about-info {
  font-size: var(--font-petite);
  color: white;
  /* border: 2px solid violet; */
  width: 80%;

  text-align: center;
}
.about-info a {
  color: white;
  text-decoration: underline;
}

.about-info a:hover {
  color: var(--golden);
}

.about-info img {
  /* border: 1px solid red; */
  width: 15px;
}

/*  ================== CARDS ==================*/
#cards {
  /* border: 2px solid rgb(5, 206, 241); */
  padding: 80px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pangolin", cursive;
}

#cards > p {
  width: 80%;
}
#cards p {
  margin-bottom: 40px;
  font-size: var(--font-petite);
  color: white;
  /* border: 2px solid violet; */

  text-align: center;
}
#cards h2 {
  color: var(--golden);
  font-size: var(--font-medium);
  padding-bottom: 25px;
}

#cards h3 {
  color: var(--golden);
}

#cards img {
  height: auto;
  width: 150px;
}

.cards-container {
  /* border: 2px solid rgb(178, 5, 247); */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info-card {
  /* border: 2px solid rgb(5, 41, 247); */
  text-align: center;
  background: rgb(18, 52, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 20px;
  border-radius: 15px;
  padding: 40px 30px;
  max-width: 300px;
  height: 465px;
}

/*  ================== CONTACT ==================*/
#contact {
  /* border: 2px solid red; */
  padding: 40px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pangolin", cursive;
}

#contact h2 {
  color: var(--golden);
  font-size: var(--font-medium);
  display: flex;
}

#contact p {
  /* border: 2px solid rgb(231, 225, 225); */
  font-size: var(--font-petite);
  color: white;
  padding: 3px 0px;
}

.name {
  font-weight: 600;
}

.info-contact {
  /* border: 2px solid rgb(8, 186, 240); */
  padding: 50px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.social-media {
  /* border: 2px solid rgb(8, 186, 240); */
  display: flex;
  gap: 20px;
}
/*  ================== FOOTER ==================*/
footer {
  /* border: 2px solid rgb(8, 186, 240); */
  /* background-color: var(--red-luffy); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px 0px;
}

footer img {
  height: 60px;
  /* width: 50px; */
}

footer p {
  color: white;
  font-size: var(--font-petite);
  font-family: "Pangolin", cursive;
}
