@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Spirax&display=swap");

:root {
  /* colors */
  --background: #000c1f;
  --red-luffy: #ca0202f6;
  --golden: #f09708;

  /* Fonts */
  --font-bold: 700;

  --font-petite: 17px;
  --font-medium: 32px;
  --font-title: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(231, 209, 4); */
}

/*  ================== HEADER ==================*/
.logo {
  height: 50px;
  /* border: 2px solid blue; */
  margin-top: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(180, 255, 7); */
  padding: 0 30px;
  background-color: var(--red-luffy);
  height: 65px;
  font-family: "Spirax", sans-serif;
}

.nav {
  display: flex;
  gap: 4rem;
  /* border: 2px solid rgb(0, 0, 0); */
  width: 32%;
  align-items: center;
  /* margin: 0 200px 0 0; */
}

nav a {
  color: rgb(0, 0, 0);
  font-size: var(--font-petite);
}

li > a:hover {
  color: rgb(255, 255, 255);
}

li > a:hover::before {
  content: "☠️";
}

/*  ================== HERO ==================*/

#hero {
  /* border: 1px solid rgb(5, 206, 241); */
  padding: 70px 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pangolin", cursive;
}

.hero-info {
  /* border: 2px solid violet; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}

.hero-info h1 {
  font-size: var(--font-title);
  font-weight: var(--font-bold);
  color: var(--golden);
}
.hero-info p {
  font-size: var(--font-petite);
  width: 70%;
  color: white;
}
.hero-info span {
  color: rgb(218, 7, 7);
  font-weight: var(--font-bold);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.btn {
  /* border: 1px solid red; */
  font-size: var(--font-petite);
  color: #f3f4f6;
  background-color: var(--red-luffy);
  padding: 8px 30px;
  border-radius: 10px;
}

.buttons a:hover {
  color: var(--golden);
}

.hero-img {
  /* border: 1px solid rgb(196, 228, 13); */
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}

/*  ================== ABOUT ==================*/
#about {
  /* border: 1px solid rgb(5, 206, 241); */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  font-family: "Pangolin", cursive;
}
#about h2 {
  color: var(--golden);
  font-size: var(--font-medium);
  padding-bottom: 25px;
}
.about-info {
  font-size: var(--font-petite);
  color: white;
  /* border: 2px solid violet; */
  width: 80%;
  text-align: center;
}
.about-info a {
  color: white;
}

.about-info a:hover {
  color: var(--golden);
}
