@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&family=Roboto:wght@100&family=Spirax&family=Wavefont:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-family: "Spirax", cursive;
  /* font-family: "Wavefont", cursive; */
}

body {
  background-color: #000814;
}
img {
  width: 80px; /* Establece el ancho deseado en píxeles */
  /* height: auto;  */
  /* Esto mantiene la proporción original de la imagen */
  /* border: 2px solid blue; */
  display: flex;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid rgb(29, 100, 148); */
  /* border-radius: 20px; */
  /* margin: 10px 200px 0 200px; */
  padding: 2px;
  background-color: #d00000f6;
  /* margin: 20px 0; */
}

.nav {
  display: flex;
  gap: 10px;
  /* border: 2px solid rgb(0, 0, 0); */
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
}

a:hover {
  color: rgba(
    255,
    255,
    255,
    0.774
  ); /* Cambia el color del texto del enlace cuando el mouse está sobre él */
}
